<a [routerLink]="['/']">
  <h1>Sigesp Web</h1>
</a>

<a class="button fancy-button"><i class="material-icons">close</i>Sair</a>
<!-- <a class="button fancy-button"><i class="material-icons">shopping_cart</i>Sair</a> -->

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->